.header{
    display: flex;
    /* justify-content: center; */
}

.MuiAppBar-root{
    background-color: #ff7779 !important;

}

.MuiToolbar-root{
    justify-content: center;
}

.MuiToolbar-root > h1{
    font-weight: 400;
    text-transform: uppercase;
}